
{% extends 'base.html' %}
{% load static %}

{% block content %}
<form method="POST">

    {% csrf_token %}
        <div class="mb-3">
            <label class="form-label" style="margin-top:100px;">Username</label>
            <input type="text" class="form-control" name="u" placeholder="enter the username">
        </div>
         <div class="mb-3">
            <label class="form-label">Password</label>
             <input type="password" class="form-control" name="p" placeholder="enter the password" ></div>
                <div class="mb-3">
     <input type="submit" class="form-control" value="login">
        </div>


    </ul>

</form>


{% endblock %}